body{
    min-height: 4000px;
}
.jumbotron {
    padding-top: 6rem;
    background-color: #FFD700;

    }

    #projects{
        background-color: #Gold;
    }
    section{
        padding-top: 5rem;
        background-color: #FFD700;
    }
